extends layout

block content
    .container
        h1.my-3 Update Contact
        form(method='POST',action=`/api/contacts/${contact._id}`)
            .form-group
                label First Name:
                input.form-control(name='firstName',type='text',value=contact.firstName)
            .form-group
                label Last Name:
                input.form-control(name='lastName',type='text',value=contact.lastName)
            .form-group
                label Email:
                input.form-control(name='email',type='text',value=contact.email)
            .form-group
                label Mobile:
                input.form-control(name='mobile',type='text',value=contact.mobile) 
            br
            input.btn.btn-primary(type='submit',value='Update')