extends layout

block content
    h1.my-3 Contact List
    a.btn.btn-primary(href='/contacts/add') New Contact
    ul.list-group.mt-3
        each contact, i in contacts
            li.list-group-item.d-flex.justify-content-between.align-items-center
                span #{`${contact.firstName} ${contact.lastName}`}
                span #{contact.mobile}
                span #{contact.email}
                span
                    a.mr-3(href=`/contacts/edit/${contact._id}`) Edit
                    a.delete-contact(href='#',data-id=contact._id) Delete
